.datepicker{
    display: flex;
    flex:1;
    border:1px solid #D1DBEB;
    border-radius:3px;
   
}
.datepicker_icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width:30px;
    height:30px;
    border-left:1px solid #D1DBEB;
    cursor: pointer;
}
.datepicker>input{
    flex:1;
    outline: none;
    border:none;
    padding:8px;
    cursor: pointer;
}
input[type="date"]{

}
