.tabs_container{
    display: flex;
    align-items: center;
    padding:10px 0;
    border-bottom: 1px solid #D6D6DC;
    padding-bottom: 0;
    margin:0 10px;
    /* background-color: rgb(245, 176, 176); */
}
.tabs_item{
    padding: 10px 0;
    width:90px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(247, 223, 223); */
    border-bottom: 3px solid  #F3F6F9;
    cursor: pointer;
    
}
.active{
    border-bottom: 3px solid  #FA741F;
    color: #FA741F;
}